<template name="notifications">
	<a href="" class="dropdown-toggle" data-toggle="dropdown">Notifications
		{{#if notificationCount}}
			<span class="badge ba">{{notificationCount}}</span>
		{{/if}}
		<b class="caret"></b>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
			{{#each notifications}}
				{{> notification}}
			{{/each}}
		{{else}}
			<li><a href="">No Notifications</a></li>
		{{/if}}
	</ul>
</template>


<template name="notification">
	<li>
		<a href="{{notificationsProjectPath}}">
			<strong>{{taskAuthor}}</strong> added a task for you on {{projectId}}
		</a>
	</li>
</template>