<template name="projectPage">
	{{setSession}}
	<header>
		<h5><a href="/client/{{clientId}}">{{clientName clientId}}</a></h5>
		<h1>
			{{title}}
			{{#if currentUser}}
				{{#if ownsProject}}
					<small><a class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#project-modal"><span class="glyphicon glyphicon-pencil"></span></a></small>
				{{/if}}
			{{/if}}
		</h1>
	</header>

	<div class="project-info">
		<div class="row">

			<div class="col-sm-3">

				<p>90% Complete / Due on {{formatDate dueDate 'short'}}</p>
				<div class="progress progress-striped active">
					<div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
						<span class="sr-only">90% Complete / Due on {{dueDate}}</span>
					</div>
				</div>

				<ul class="meta list-unstyled">
					<li><b>Created by:</b> {{author}}</li>
					<li><b>Created On:</b> {{formatDate submitted 'short'}}</li>
					<li><b>Status:</b> {{status}}</li>
					<li><b>Task Count:</b> {{taskCount}}</li>
				</ul>

				<h5>Project Managers</h5>
				{{#userListById projectManagers}}{{/userListById}}
				<h5>Designers</h5>
				{{#userListById designers}}{{/userListById}}
				<h5>Web Developers</h5>
				{{#userListById webDevelopers}}{{/userListById}}
				<h5>Project Description</h5>
				<p>{{description}}</p>

			</div>

			<div class="col-sm-8 col-sm-offset-1">
				<section class="current-tasks">
					{{#each projectManagers}}
						{{> taskUserHldr}}
					{{/each}}

					{{#each designers}}
						{{> taskUserHldr}}
					{{/each}}

					{{#each webDevelopers}}
						{{> taskUserHldr}}
					{{/each}}
				</section>
			</div>

		</div>
	</div>

	

	<section class="add-task">
		{{#if currentUser}}
			{{> taskSubmit}}
		{{else}}
			<p>Please log in to create a project</p>
		{{/if}}
	</section>



	<section class="edit-project">
		{{#if currentUser}}
			{{> projectEdit}}
		{{else}}
			<p>Please log in to create a project</p>
		{{/if}}
	</section>

</template>
