<template name="projectPage">

	{{setSession}}

	<header>
		<h5><a href="/client/{{clientId}}">{{clientName clientId}}</a></h5>
		{{#if currentUser}}
			<h1><span class="title-update editable" data-type="text" data-pk="{{_id}}" data-name="title" data-value="{{title}}">{{title}}</span></h1>
		{{else}}
			<h1>{{title}}</h1>
		{{/if}}
	</header>

	<div class="project-info">
		<div class="row">

			<div class="col-sm-3">

				<p>{{projectProgress taskCount}}% Complete</p>
				<div class="progress progress-striped active">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{projectProgress taskCount}}" aria-valuemin="0" aria-valuemax="100" style="width: {{projectProgress taskCount}}%">
						<span class="sr-only">{{projectProgress taskCount}}% Complete / Due on {{dueDate}}</span>
					</div>
				</div>

				<ul class="meta">
					<li><b>Due Date:</b> {{formatDate submitted 'short'}}</li>
					<li><b>Status:</b> <span class="status-update editable label label-{{status}}" data-type="select" data-pk="{{_id}}" data-name="status" data-value="{{status}}">{{status}}</span></li>
					<li><b>Task Count:</b> {{taskCount}}</li>
				</ul>

				<h5>Project Managers</h5>
				<p>
					<span class="pm-update editable" data-type="checklist" data-pk="{{_id}}" data-name="projectManagers" data-value="{{projectManagers}}">
						{{#each projectManagers}}
							{{getName this}}<br/>
						{{/each}}
					</span>
				</p>

				<h5>Designers</h5>
				<p>
					<span class="d-update editable" data-type="checklist" data-pk="{{_id}}" data-name="designers" data-value="{{designers}}">
						{{#each designers}}
							{{getName this}}<br/>
						{{/each}}
					</span>
				</p>

				<h5>Web Developers</h5>
				<p>
					<span class="wd-update editable" data-type="checklist" data-pk="{{_id}}" data-name="webDevelopers" data-value="{{webDevelopers}}">
						{{#each webDevelopers}}
							{{getName this}}<br/>
						{{/each}}
					</span>
				</p>

				<h5>Project Description</h5>
				<p class="small">{{description}}</p>
				
				<h5>Project Generation</h5>
				<p class="small">Created on {{formatDate submitted 'short'}} by {{author}}</p>

			</div>

			<div class="col-sm-8 col-sm-offset-1">
				<section class="current-tasks">

				</section>
			</div>

		</div>
	</div>



</template>