<template name="task">

	<div class="checkbox {{status}}" data-id="{{_id}}">
		<form name="task" class="task-form">
			<label>
				<input type="checkbox" {{checked_eq status 'archived'}}> {{title}}
				&ensp;<span class="label label-default dueDate">{{formatDate dueDate 'short'}}</span> 
				&ensp;<span class="label label-info comments">0 Comments</span>
			</label>
			<div class="btn-group">
				<a href="" class="btn btn-default btn-xs edit" data-toggle="modal" data-target="#{{_id}}" ><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="" class="btn btn-default btn-xs delete"><span class="glyphicon glyphicon-remove"></span></a>
			</div>
		</form>

		{{> taskEdit}}
	</div>

</template>