<template name="taskEdit">
	
	<div id="task-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">

			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">You are Editing<br/><b>{{title}}</b></h4>
				</div>

				<div class="modal-body">
					<form name="task-edit" class="task-edit-form">
						
						<div class="hide">
							<input type="hidden" name="_id" value="">
						</div>

						<div class="form-group">
							<label for="title" class="control-label">Task Name</label>
							<input type="text" class="form-control" name="title" value="" placeholder="Task Name">
						</div>

						<div class="form-group">
							<label for="title" class="control-label">Due Date</label>
							<div class="input-group datetimepicker">
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								<input class="set-due-date form-control" type="text" name="dueDate" value="" />
							</div>
						</div>
						
						<div class="form-group">
							<label for="title" class="control-label">Assigned To</label>
							<select class="form-control" name="assignedTo" id="task-user-select">
								{{#userSelectById projectManagers}}{{/userSelectById}}
								{{#userSelectById designers}}{{/userSelectById}}
								{{#userSelectById webDevelopers}}{{/userSelectById}}
							</select>
						</div>

						<div class="form-group">
							<label for="title" class="control-label">Project Status</label>
							<div class="radio">
								<label>
									<input type="radio" name="status" value="active" {{checked_eq status 'active'}} >
									This project is <b>active</b>.
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="status" value="archived" {{checked_eq status 'archived'}} >
									This project is <b>archived</b>.
								</label>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-success">Submit</button> &emsp;
							<button type="button" class="btn btn-danger delete" data-dismiss="modal">Delete</button>
						</div>

					</form>
				</div><!-- /modal-body -->

			</div><!-- /modal-content -->
		</div>
	</div>

</template>