<template name="clientPage">

	<header>
		<h1>
			{{title}}
			{{#if currentUser}}
				{{#if ownsPost}}
					<small><a href="{{pathFor 'clientEdit'}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></small>
				{{/if}}
			{{/if}}
		</h1>
	</header>

	<section class="current-projects">
		{{#each projects}}
			{{> project}}
		{{/each}}
	</section>

	<section class="add-project">
		{{#if currentUser}}
			{{> projectSubmit}}
		{{else}}
			<p>Please log in to create a project</p>
		{{/if}}
	</section>

</template>