	<template name="clientItem">

		<div class="col-sm-4">
			<div class="client-item {{status}}">

				<h1>
					{{# if isClientActive status}}
						<a href="{{pathFor 'clientPage'}}">{{title}}</a>
					{{else}}
						<a href="{{pathFor 'clientPageFreezer'}}">{{title}}</a>
					{{/if}}
				</h1>
				
				{{#if currentUser}}
					<p>
						<span class="status-update editable {{status}}" data-title="Client Status" data-type="select" data-pk="{{_id}}" data-name="status">{{status}}</span>
						<span class="seperator">|</span> 
						<span class="liason-update editable" data-title="Client Liason" data-type="select" data-pk="{{_id}}" data-name="clientLiason" data-pmId="{{clientLiason}}">{{findClientLiason clientLiason}}</span>
						<span class="seperator">|</span>
						{{projectCount}} Projects
					</p>
				{{else}}
					<p>
						<span class="{{status}}">{{status}}</span>
						<span class="seperator">|</span> 
						<span class="">{{findClientLiason clientLiason}}</span>
						<span class="seperator">|</span>
						{{projectCount}} Projects
					</p>
				{{/if}}
				

			</div>
		</div>

	</template>