<template name="clientSubmit">
	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Add A Client</h1>
			<form role="form">

				<div class="form-group">
					<label for="title" class="control-label sr-only">Client Name</label>
					<input type="text" class="form-control" id="title" name="title" placeholder="Client Name">
				</div>
				
				<div class="form-group">
					<span class="help-block">Client Liason</span>
					{{#each projectManagers}}
						<div class="radio">
							<label>
								<input type="radio" name="clientLiason" value="{{_id}}" {{checked_eq ../clientLiason _id }}> 
								{{profile.name}}
							</label>
						</div>
					{{/each}}
				</div>

				<div class="form-group">
					<span class="help-block">Client Status</span>
					<div class="radio">
						<label>
							<input type="radio" name="status" value="active" {{checked_eq status 'active'}}>
							This client is <b>active</b>.
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="status" value="archived" {{checked_eq status 'archived'}}>
							This client is <b>archived</b>.
						</label>
					</div>
				</div>
			
				<div class="form-group">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>

			</form>
		</div>
	</div><!-- /row -->

</template>
